@model GestionStagaires.Models.Stagiaire

@{
    ViewData["Title"] = "CréerStagiaire";
}

<h1>CréerStagiaire</h1>

<h4>Stagiaire</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CréerStagiaire">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prénom" class="control-label"></label>
                <input asp-for="Prénom" class="form-control" />
                <span asp-validation-for="Prénom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Téléphone" class="control-label"></label>
                <input asp-for="Téléphone" class="form-control" />
                <span asp-validation-for="Téléphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entreprise" class="control-label"></label>
                <input asp-for="Entreprise" class="form-control" />
                <span asp-validation-for="Entreprise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sujet" class="control-label"></label>
                <input asp-for="Sujet" class="form-control" />
                <span asp-validation-for="Sujet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
